<div class="container text-center" class="d-flex flex-column ">
    <div class="alert alert-dark m-5" role="alert">
        {{result}}
    </div>
    <div><a href="/" class="btn btn-warning w-50">Try Again!</a></div>
</div>