<div class="d-flex flex-column align-items-center">
    <h1 class="m-5">WELCOME!!</h1>
    <h3 class="m-5">Your favorite movies are here!! Just search it and add to you favorites!!</h3>
    <form action="/searchByTitle" style="width: 200px;" class="d-flex flex-column align-items-center" method="POST">
        <div class="form-group text-center">
            <label for="inputTitle">Search By Movie Title</label>
            <input type="title" class="form-control" name="search">
        </div>
        <button type="submit" class="btn btn-warning w-100">Find It</button>
    </form>
</div>