<div class="container text-center" class="d-flex flex-column ">
    <div class="alert alert-dark m-5" role="alert">
        This movie is already on your favorite list!!!
    </div>
    <div class="d-flex justify-content-center"><a href="/" class="btn btn-warning w-40 m-1">Discover New Ones</a>
        <a href="/dataTable" class="btn btn-success w-40 m-1">Show My Movie List</a>
    </div>
    <div class="row d-flex flex-column  align-items-center">
        <div class="d-flex flex-column align-items-center p-3">
            <img src={{result.poster}} alt="" style="height: 450px;">
            <p class="text-center"><strong>{{result.title}}</strong></p>
        </div>
    </div>
</div>